@import "../../../variables";

@media screen and (max-width: $mobileBreakpoint) {
  h2 {
    font-size: 1.5rem;
  }
}

.footerContainer {
  padding: 1rem;
  display: flex;
  width: 100vw;
  justify-content: space-around;

  .footerColumn {
    display: flex;
    flex-direction: column;
    a {
      color: #000;
    }
    ul {
      margin: unset;
      padding: unset;
      text-align: center;
    }
    li {
      list-style: none;
    }
  }
}
