<!-- TODO: make the header a responsive navigation menu with responsive layout -->
<!-- Create a link to the people component/page -->
<header>
    <mat-toolbar color="primary">
        <nav>
            <ul class="menuItemContainer">
                <li><a routerLink="home" routerLinkActive="activeLink">Home</a></li>
                <li><a routerLink="people-ngrx" routerLinkActive="activeLink">People</a></li>
                <li><a href="#" routerLinkActive="activeLink">About</a></li>
                <li><a href="#" routerLinkActive="activeLink">Blog</a></li>
                <li><a href="#" routerLinkActive="activeLink">Contact</a></li>
            </ul>
        </nav>
        <div class="menuItemMobileContainer">
            <button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
                
           
            <mat-menu #menu="matMenu">
                <ul class="mobileMatMenuContainer">
                    <li mat-menu-item><a routerLink="home">Home</a></li>
                    <li mat-menu-item><a routerLink="people-ngrx">People</a></li>
                    <li mat-menu-item><a href="#">About</a></li>
                    <li mat-menu-item><a href="#">Blog</a></li>
                    <li mat-menu-item><a href="#">Contact</a></li>
                </ul>
            </mat-menu>
        </div>
        
    </mat-toolbar>
</header>
