@import "../../../variables";

@media screen and (max-width: $mobileBreakpoint) {
  .menuItemContainer {
    display: none;
  }
  .menuItemMobileContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    width: calc(100vw - 1rem);
  }
}

@media screen and (min-width: $mobileBreakpoint) {
  .menuItemMobileContainer {
    display: none;
  }
  .menuItemContainer {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: calc(100vw - 1rem);
    padding-right: 1rem;
    margin-bottom: unset;
    a {
      color: #fff;
      margin: 0 1rem;
      &.activeLink,
      &:hover {
        text-decoration: underline solid #fff 0.2rem;
      }
    }
  }
}

button {
  border: none;
  background-color: transparent;
}
mat-icon {
  font-size: 2rem;
  color: #fff;
}
.mobileMatMenuContainer {
  padding: unset;
  margin: unset;
  li {
    text-align: center;
  }
}
