.peopleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .peopleDrawerContainer {
        width: 100%;
        height: 100%;
        mat-drawer {
            padding: 0 3rem;
        }
    }
    .peopleTable {
        width: 100%;
        .peopleDataRow {
            &:hover {
                background-color: #d3d3d3;;
                cursor: pointer;
            }
        }
    }

    .personEditContainer {
        display: flex;
        flex-direction: column;
    }
}