<main class="peopleContainer" *ngIf="viewModel$ | async as viewModel">
 
  <mat-drawer-container class="peopleDrawerContainer" [hasBackdrop]="true">
    <mat-drawer #drawer mode="side" position="end">
      <h3>Edit Person</h3>
        <form class="personEditContainer" novalidate [formGroup]="editPersonForm">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstName" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastName" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input type="number" matInput formControlName="age" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Job Title</mat-label>
            <input type="text" matInput formControlName="jobTitle" />
          </mat-form-field>
        </form>
        <div class="actionContainer">
          <button (click)="handleUpdatePerson()" mat-raised-button color="primary">Update</button>
        </div>
     
    </mat-drawer>
    <table class="peopleTable" *ngIf="viewModel.people?.length" mat-table [dataSource]="viewModel.people">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let person">{{person.firstName}}</td>
      </ng-container>
  
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let person">{{person.lastName}}</td>
      </ng-container>
  
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let person">{{person.age}}</td>
      </ng-container>
  
      <ng-container matColumnDef="jobTitle">
        <th mat-header-cell *matHeaderCellDef>Job Title</th>
        <td mat-cell *matCellDef="let person">{{person.jobTitle}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="viewModel.columns"></tr>
      <tr class="peopleDataRow" (click)="handleRowSelected(row)" mat-row *matRowDef="let row; columns: viewModel.columns"></tr>
  
    </table>
  </mat-drawer-container>
  
</main>