<div class="appContainer">
    <app-header class="headerContainer"></app-header>
    <main class="mainContainer">
        <router-outlet></router-outlet>
    </main>
    <app-footer class="footerContainer"></app-footer>
</div>
